* {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google-img-container {
    padding: 1em 1em 2em 1em;
    margin-top: 12.5em;
}

.search-form{
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 482px;
    height: 44px;
    margin: 0 auto;
}

.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-flex{
    flex: 1;
    display: flex;
    padding: 0px 8px 0 16px;
    height: 100%;
}

.search-img {
    display: flex;
    align-items: center;
    width: 15px;
    justify-content: center;
    filter: invert(70%) sepia(8%) saturate(244%) hue-rotate(169deg) brightness(91%) contrast(83%);
}

.search-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 34px;
    flex: 100%;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    border: none;
    outline: none;
}

.navbar {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1.25em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 7px;
    font-size: 13px;
    align-self: center;
}

a {
    font-size: 13px;  
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-left {
    display: flex;
    flex: 20%;
    height: 100%;
    align-self: center;
    margin-left: 1em;
}

.navbar-center {
    display: flex;
    height: 100%;
    flex: 53%;
    align-self: center;
}

.navbar-right {
    display: flex;
    height: 100%;
    flex: 27%;
    align-self: center;
    align-content: center;
}

.app-img {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 0.5em;
    margin-right: 0.2em;
    opacity: 0.55;
}

.app-img:hover {
    opacity: 1;
}

.button-signin {
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: #fff;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
}